/* Examples of changes you can make on slds classes to overwrite styles. */
.slds-is-complete::after {
	background: #1e871e;
}

.slds-is-complete::before {
	background: #1e871e;
}

.slds-is-complete {
	background: #1e871e;
}

.slds-icon-action-approval {
	background: #1e871e;
}

.slds-path__item {
	flex: none;
	min-width: 300px;
}

/* Example of passed in custom class. */
.olClass {
    display: flex; 
    flex-wrap: wrap; 
    background: #f3f2f2;
}



