<template>
    <c-custom-path ol-class={olClass} path-items={pathItems} ></c-custom-path>
    <div class="slds-docked-form-footer">
        <div class="slds-grid slds-grid_align-center">
            <div class="slds-col">
                <div style="display: flex;">
                    <div>
                        <lightning-button
                            class="slds-p-around_small"
                            onclick={handlePrevious}
                            variant="brand"
                            label="Previous"
                            disabled={previousDisable}
                        ></lightning-button>
                    </div>
                    <div>
                        <lightning-button
                            class="slds-p-around_small"
                            onclick={handleNext}
                            variant="brand"
                            label="Next"
                            disabled={nextDisable}
                        ></lightning-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>